@import "mixins";
/*公共样式*/
body{
  position: relative;
  //min-height:calc(100vh);
  //padding-bottom: 50px;
  //background:#f4f4f4;
  font-size: 12px;
  overflow-y:auto;
  font-family:"Microsoft YaHei";
}
* {
  margin: 0;
  padding: 0;
}
$themeColor:#1387c2;
input,button,select,textarea {
  outline: none;
  box-shadow: none;
  border:1px solid #ccc;
}
//去掉默认黄色背景
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  background-color: rgb(0, 0, 0) !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
  -webkit-tap-highlight-color:rgba(0,0,0,0) !important;
}
button{
  border:none;
}
ul,li{ list-style: none;}
a{text-decoration: none;color:inherit;}
em{ font-style: normal; }
.img { border: none; width: 100%; height: auto;}
/*兼容ie10*/
select::-ms-expand { display: none;}
select{@include borderBox;@include borderRadius(4px)}
.btn {
  text-align: center;
  border-radius: 20px;
  line-height: 40px;
  width:200px;
  color: #fff;
  cursor: pointer;
  background: $themeColor;
}
.clear{
  &:after{
    content:'';
    display: block;
    width:100%;
    clear:both;
  }
}

input::-webkit-input-placeholder {
  color: #c1c1c1 !important;
}
input:-moz-placeholder {
  color:#c1c1c1 !important;
}
input::-moz-placeholder {
  color:#c1c1c1 !important;
}
input:-ms-input-placeholder {
  color: #c1c1c1 !important;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  border-color:$themeColor !important;
}

/*提示信息*/
.msg{
  padding:20px 30px;
  background: red;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 4px;
  color:#fff;
}

@for $i from 1 through 12{
  .d-#{$i}{
    width:percentage($i/12);
  }
}
.zooming{
  position: relative;
  overflow: hidden;
}
.upList a img,.center-avatar img,.loginAvatar img,.information .list img,.zooming img{
  width:100%;
  height:auto;
  @include middle;
  &.active{
    width:auto;
    height:100%;
  }
}

//---------------------------------------公用样式----------------------------------------
//导航
header{
  width:100%;
  height:50px;
  position: fixed;
  background: $themeColor;
  top:0;
  left:0;
  z-index: 20;
  .nav-box{
    width:1200px;
    padding:5px 0;
    margin:0 auto;
    color:#fff;
    font-size: 16px;
    .logo{
      float:left;
      margin-right:100px;
      img{height:40px;}
    }
    .nav_link{
      float:left;
      line-height:40px;
      li{
        position: relative;
        float:left;
        width:86px;
        margin-right:12px;
        text-align: center;
        &.active,&:hover{
          font-weight: bold;
          &:after{
            display: block;
            content: "";
            width:100%;
            height:4px;
            position: absolute;
            bottom:2px;
            background: #00aeef;
          }
        }
        a{
          display: block;
          width:100%;
        }
      }
    }
    .login-entrance{
      float:right;
      line-height: 40px;
      display: block;
      font-size: 12px;
      display: none;
      &.hasLogin{
        display: none;
      }
      &.active{
        display: block;
      }
      a{
        position: relative;
        display: inline-block;
        height:100%;
        cursor: pointer;
        &:after {
          display: block;
          content: "";
          width:100%;
          height:1px;
          position: absolute;
          bottom:8px;
          background: #fff;
        }
      }
      .goLogin{
        margin-right:20px;
      }
    }
    .loginAvatar{
      position: relative;
        float:right;
        display: none;
        @include circle(40px,transparent);
        overflow: hidden;
        cursor: pointer;
        &.active{
          display: block;
        }

    }
  }
}
.empty-top{
  height:75px;
}

//返回顶部
.backTop{
  @include circle(56px,#808080);
  position: fixed;
  bottom:100px;
  right:50px;
  text-align: center;
  cursor:pointer;
  img{@include middle;}
  &:hover{background: #333;}
}
//客服
.contactHer-click{
  display: none;
  position: fixed;
  top:70px;
  right:20px;
  width: 81px;
  height: 103px;
  z-index: 123123132;
  overflow: hidden;
  cursor: pointer;
  img{
    width:100%;
    height:100%;
  }
}

.aLaDingStudy{
  width:1000px;
  height:68px;
  line-height: 68px;
  margin:20px auto;
  @include borderBox;
  @include borderRadius(4px);
  text-align: center;
  font-size: 18px;
  background: $themeColor;
  color:#fff;
  cursor: pointer;
  &:hover{
    background: #fff;
    color:$themeColor;
    border:1px solid $themeColor;
  }
  a{
    display: block;
    width:100%;
    height:100%;
  }
}
//底部
footer{
  background: #1387c2;
  width:100%;
  color:#fff;
  .title-box{
    width:100%;
    text-align: center;
    background: url("../images/footer_bg.jpg") top left no-repeat;
    line-height: 200px;
    font-size: 16px;
    color:#fff;
    b{display:inline-block;
      width:180px;
      height:1px;
      background: #fff;
      vertical-align: middle;
    }
    span{margin:0 35px;}
  }
  .content{
    width:830px;
    margin:0 auto;
    padding:40px 0;
    &>div{
      float:left;
      &.left{
        img{margin-left:5px;margin-bottom:10px;}
        padding-right:40px;
        border-right:1px solid #fff;
        margin-right:40px;
      }
    }
    .line{padding-bottom:10px;padding-top:20px;border-bottom:1px solid #fff;margin-bottom: 10px;}
    .foot-nav{
      li{
        float:left;
        margin-right:34px;
        cursor: pointer;
        &:last-child{margin:0;}
        &:hover{
          color:#2b2b2b;
        }
      }
    }
    .contact{
      width:100%;
      position: relative;
      padding-top:45px;line-height: 30px;


      img{display: inline-block;vertical-align: middle;margin-right:5px;}
      p{
        text-indent: 24px;
      }
      .address{
        float:left;
      }
      .phone{
        float:right;
        p{text-indent: 30px;}
      }
    }
  }
}

//详情导航公用
.nav-title{
  width:1000px;
  margin:0 auto;
  padding-top:90px;
  font-size: 16px;
  &.min-padding{padding-top:40px;}
  a:hover{color:$themeColor;}
}

.information-view-box{
  width:1000px;
  padding:40px 80px;
  margin:0 auto;
  @include borderBox;
  .information-title{
    margin-bottom:10px;
  }
  .published{
    margin-bottom:50px;
    span.time{margin-right:20px;}
  }
  .view_img{
    width:100%;
    img{max-width: 100%;}
  }
  .content{
    padding-top:40px;
    line-height: 24px;
    font-size: 14px;
  }
  .revert_btn{
    position: relative;
    left: 88%;
    margin-top:20px;
  }
}

//话题详情
.btn_extend{
  line-height: 34px;
  text-align: center;
  border:1px solid #ccc;
  background: #fff;
  font-size: 16px;
  cursor: pointer;
  @include borderRadius(20px);
  &:hover{
    background: $themeColor;
    color:#fff;
  }
}
.revert_btn{
  width:100px;
  @extend .btn_extend;
}
.sub_btn{
  display: block;
  width:445px;
  margin:0 auto;
  @extend .btn_extend;
}

.revert_items{
  width:800px;
  margin:0 auto 50px;
  //@include borderBox;
  .revert_item{
    padding:16px 20px 16px 70px;
    border-bottom:1px solid #ccc;
    font-size: 14px;
    position: relative;
    &:first-child{
      border-top:1px solid #ccc;
    }
  }
  .avatar{
     @include circle(48px,transparent);
     overflow: hidden;
     position: absolute;
     top:10px;
     left:10px;
   }
  .other_info{
    position: relative;
    .type{
      margin-bottom:8px;
    }
    .time{
      position: absolute;
      top:0;
      right:0;
      font-size: 12px;
    }

  }
  .content{
    margin-bottom:20px;
    line-height: 22px;
  }
  .revert_item_btn{
     float: right;
  }
  .revert_answer{
    .edit_box{
      width:100%;
      height:150px;
      resize: vertical;
      margin:20px 0;
      @include borderRadius(4px);
      @include borderBox;
      border:1px solid #ccc;
      padding:20px;
    }
    .anonymity{
      line-height: 17px;
      margin-bottom:20px;
      b{
        display: inline-block;
        width:17px;
        height:17px;
        border:1px solid #1187c2;
        margin-right:8px;
        @include borderBox;
        &.active{
          width:21px;
          background: url("../images/grow/anony.png") center no-repeat;
          border:none;
          margin-right:4px;
        }
      }
    }
    .sub_btn{
      margin-bottom:20px;
    }
  }
  //回复的回复
  .items_items_box{
    padding-top:20px;
    &>li{
      padding-left:60px;
      position: relative;
      padding-top:10px;
      border-top:1px solid #ccc;
      .avatar{
        left:0;
      }
    }
  }
}
.my_answer{
  width:800px;
  margin:0 auto 100px;
  .title{font-size: 18px;margin-bottom:16px;}
  .edit_box{
    width:100%;
    height:150px;
    border:1px solid #ccc;
    @include borderBox;
    padding:20px;
    resize: vertical;
    @include borderRadius(4px);
    margin-bottom:20px;
  }
}



//专家中心订单列表 //会员
.order-list-wrapper{
  width:1000px;
  margin:40px auto 50px;
  font-size: 14px;
  .tab-title{
    text-align: center;
    margin-bottom:30px;
  }
  .width{
    &:nth-child(1){width:170px;}
    &:nth-child(2){width:150px;}
    //&:nth-child(3){width:140px;}
    &:nth-child(3){width:150px;}
    &:nth-child(4){width:180px;}
    &:nth-child(5){width:170px;}
    &:nth-child(6){width:120px;}
  }
  .member-width{
    &:nth-child(1){width:320px;}
    &:nth-child(2){width:140px;}
    &:nth-child(3){width:190px;}
    &:nth-child(4){width:160px;}
    &:nth-child(5){width:140px;}
  }

  .tab-nav{
    padding:10px 20px;
    border-top:1px solid #dcdcdc;
    margin-bottom:20px;
    li{
      float:left;
      @extend .width;
    }
    &.member-nav{
      li{
        @extend .member-width;
      }
    }
  }
  .item{
    height:60px;
    padding:20px;
    line-height: 60px;
    margin-bottom:20px;
    background: #f8f8f8;
    border:1px solid #dcdcdc;
    ul>li{
      width:140px;
      float:left;
      @extend .width;
      &.time-box{
        .time{
          margin-left:10px;
        }
      }
      .btn{
        width:95px;
        line-height: 24px;
        @include borderRadius(12px);
        background: #00aeef;
        &:disabled{
          background: #ccc;
        }
      }
    }
  }

  .member-item{
    .item{
      ul>li{
        @extend .member-width;
      }
    }
  }

}

//发表话题
.published-wrapper{
  width:1000px;
  margin:0 auto;
  padding:40px 100px;
  @include borderBox;
  input,textarea{
    width:100%;
    border:1px dashed #ccc;
    @include borderBox;
    margin-bottom:20px;
  }
  input{
    line-height: 50px;
    padding:0 20px;
  }
  //图片上传
  .upList{
    position: relative;
    width:110px;
    height:110px;
    vertical-align: top;
    border:1px dashed #ccc;
    margin-bottom:20px;
    a{
      position: relative;
      display: block;
      background: url("../images/published.png") center no-repeat;
      background-position: center 20px;
      width:100%;
      height:100%;
      img{
        @include middle;
      }
    }
    .publish-btn{
      position: absolute;
      top:0 ;
      left:0;
      width:100%;
      height:100%;
      line-height: 150px;
      background: transparent;
      cursor: pointer;

    }
  }
  .edit_box{
    padding:20px;
    height:270px;
    border:1px dashed #ccc;
    margin-bottom:20px;
  }
  .btn{
    width:180px;
    line-height: 38px;
    border:1px solid #ccc;
    background: #fff;
    color:#ccc;
    float:right;
    &:hover{
      background: $themeColor;
      color:#fff;
    }
  }
}

//品牌展示
.brand-banner{
  position: relative;
  overflow-x: hidden;
  img{max-height: calc(100vh);min-width: 100%;}
  .content{
    position: absolute;
    @include middle;
    width:1000px;
    text-align: center;
    color:#fff;
    .title{
      margin-bottom:80px;
      b{
        display: block;
        font-size: 30px;
        color:#6a6b6c;
        width:340px;
        margin:0 auto;
        span{
          &:first-child{float:left;}
          &:last-child{float:right;}
        }
      }
      h1{
        font-size: 48px;
      }
      p{
        font-size: 14px;
        color:#6a6b6c;
      }
    }
    .zh{
      line-height: 24px;
      font-size: 14px;
      margin-bottom:20px;
    }
    .en{
      line-height: 18px;
      font-size: 12px;
    }
  }
}
.mian-content{
  width:1120px;
  @include borderBox;
  padding:50px 60px;
  margin:-70px auto 50px;
  position: relative;z-index: 2;
  background: #fff;
  box-shadow:1px 0 20px #aaa;
  li{
    margin-bottom:50px;
  }
  .arrow{
    width:40px;
    margin:0 auto 50px;
    .arrow_img{
      @include circle(37px,$themeColor);
      position: relative;
      margin-bottom:16px;
      img{
        @include middle;
      }
    }
    span{
      display: block;
      margin:0 auto 10px;
      @include circle(8px,$themeColor);
    }
  }
}

//公用支付弹框样式
.bounces_box,.order_finish{
  @include fullScreen;
  z-index: 100000000000;
  .mask{
    @include fullScreen;
    background: rgba(0,0,0,0.6);
  }
  .close_btn{
    position: absolute;
    top:-60px;
    right:0;
    cursor: pointer;
  }
  .bounces_content{
    padding:30px;
    background: #fff;
    text-align: center;
    font-size:18px;
    @include borderRadius(6px);
    @include middle;
    .title{
      font-size: 24px;
      margin-bottom:10px;
    }
    p{
      font-size: 18px;
      margin-bottom:50px;
    }
    .btn_box{
       width:450px;
      .btn{
        display: inline-block;
        font-size:18px;
        width:200px;
        &.cancel{
          margin-right:50px;
          background: #ccc;
        }
      }
    }

    //支付选择
    .pay_title{
      width:320px;
      margin-bottom:36px;
      border-bottom:1px solid #ccc;
      h1{
        font-size:30px;
      }
      p{
        font-size: 14px;
        margin-bottom:10px;
      }
    }
    .pay_Qrcode{
      min-height: 200px;
      img{
        width:200px;
      }
    }
    .getQrcodeAgain{
      margin:0 auto;
      display: none;
    }
    .pay_select{
      .img-box{
        margin-bottom:50px;
        &>div{
          float: left;
          &.weChat{
            padding-top:10px;
          }
          img{
            vertical-align: middle;
          }
        }
      }
      .btn_box{
        width:320px;
        margin: 0 auto;
        button{
          width:130px;
          line-height: 36px;
          border:1px solid #ccc;
          background: #fff;
          color:#2b2b2b;
          &.wechat_pay{
            margin-right:50px;
          }
          &:hover{
            background: $themeColor;
            color:#fff;
          }
        }
      }
    }

    .pay_success{
      h1{font-size: 32px;}
      p{
        font-size: 14px;
        color:#afafaf;
        margin-bottom:20px;
      }
    }
    .pay_fail{
      h1{font-size: 30px;margin-bottom:10px;}
      p{
        font-size: 22px;
        color:#1187c2;
        margin-bottom:10px;
      }
    }
    .pay_result{
      width:300px;
      text-align: center;
      margin-bottom:30px;
    }
  }
}

