.banner-test {
  margin-bottom: 20px;
  width: 100%;
  height: 3.5rem;
  background: url("../images/testReg/banner.png") center center no-repeat;
  background-size: 100% 100%;
}

.banner-test .content {
  margin: 0 auto;
  text-align: center;
}

.banner-test .content h1 {
  font-size: 16px;
  margin-bottom: 0.3rem;
  padding-top: 0.7rem;
}

.banner-test .content p {
  font-size: 10px;
  padding: 0 0.5rem;
  line-height: 0.36rem;
}

.main-content {
  padding: 0.6rem 0.2rem;
}

.main-content > p {
  margin-bottom: 50px;
  font-size: 9px;
}

.main-content .documents-list .item {
  float: left;
  width: 2.2rem;
  margin-right: 0.25rem;
  margin-bottom: 0.6rem;
}

.main-content .documents-list .item:nth-child(3n) {
  margin-right: 0;
}

.main-content .documents-list .item .pic {
  position: relative;
  height: 2.9rem;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  transition: all ease 0.5s;
}

.main-content .documents-list .item .pic img {
  width: 100%;
  height: auto;
}

.main-content .documents-list .item .pic.more {
  text-align: center;
  border: 1px solid #bfbfbf;
  color: #bfbfbf;
  font-size: 16px;
}

.main-content .documents-list .item .pic.more .con {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-content .documents-list .item .pic.more .con p:first-child {
  margin-bottom: 10px;
}

.main-content .documents-list .item:nth-child(1) .pic {
  width: 100%;
  height: 2.9rem;
  background: url("../images/testReg/pic1.png") center center no-repeat;
  background-size: 100% 100%;
}

.main-content .documents-list .item:nth-child(1) .document-title {
  background: #3f3826;
}

.main-content .documents-list .item:nth-child(2) .pic {
  width: 100%;
  height: 2.9rem;
  background: url("../images/testReg/pic2.png") center center no-repeat;
  background-size: 100% 100%;
}

.main-content .documents-list .item:nth-child(2) .document-title {
  background: #a4403f;
}

.main-content .documents-list .item:nth-child(3) .pic {
  width: 100%;
  height: 2.9rem;
  background: url("../images/testReg/pic3.png") center center no-repeat;
  background-size: 100% 100%;
}

.main-content .documents-list .item:nth-child(3) .document-title {
  background: #1f468b;
}

.main-content .documents-list .item:nth-child(4) .pic {
  width: 100%;
  height: 2.9rem;
  background: url("../images/testReg/pic4.png") center center no-repeat;
  background-size: 100% 100%;
}

.main-content .documents-list .item:nth-child(4) .document-title {
  background: #7e3635;
}

.main-content .documents-list .item:nth-child(5) .pic {
  width: 100%;
  height: 2.9rem;
  background: url("../images/testReg/pic5.png") center center no-repeat;
  background-size: 100% 100%;
}

.main-content .documents-list .item:nth-child(5) .document-title {
  background: #080a2f;
}

.main-content .documents-list .item:nth-child(n+6) .pic {
  width: 100%;
  height: 2.9rem;
  background: url("../images/testReg/pic1.png") center center no-repeat;
  background-size: 100% 100%;
}

.main-content .documents-list .item:nth-child(n+6) .document-title {
  background: #3f3826;
}

.main-content .documents-list .item:last-child .pic {
  background: #fff;
}

.main-content .documents-list .item .document-title {
  position: relative;
  text-align: center;
  line-height: 20px;
  margin: 0.12rem 0 0.18rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 9px;
  color: #fff;
}

.main-content .documents-list .item .document-title:after, .main-content .documents-list .item .document-title:before {
  content: '';
  display: block;
  height: 1px;
  background: #fff;
  width: 0.18rem;
  position: absolute;
  top: 50%;
}

.main-content .documents-list .item .document-title:after {
  right: 0.1rem;
}

.main-content .documents-list .item .document-title:before {
  left: 0.1rem;
}

.main-content .documents-list .item .buy-box span {
  display: inline-block;
  width: 0.8rem;
  line-height: 0.3rem;
  text-align: center;
  border: 1px solid #bfbfbf;
  font-size: 8px;
  -webkit-border-radius: 0.15rem;
  -moz-border-radius: 0.15rem;
  border-radius: 0.15rem;
}

.main-content .documents-list .item .buy-box span.consulting {
  float: right;
}

.main-content .documents-list .item .buy-box span:hover {
  background: #00aeef;
  border-color: #00aeef;
}

#test_view {
  background: #f5f5f5;
}

#test_view .swiper-pagination {
  bottom: 0.1rem;
}

#test_view .swiper-wrapper {
  height: 3.5rem;
  padding: 0.3rem 0 0.5rem;
}

#test_view a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

#test_view a img {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-wrapper {
  margin: 0 auto;
  padding: 40px 0.2rem;
  color: #747474;
}

.main-wrapper .purchase-box {
  margin-bottom: 40px;
}

.main-wrapper .purchase-box > div {
  float: left;
}

.main-wrapper .purchase-box .purchasing .title {
  position: relative;
  height: 0.5rem;
  padding-left: 0.3rem;
  margin-bottom: 0.2rem;
}

.main-wrapper .purchase-box .purchasing .title:after, .main-wrapper .purchase-box .purchasing .title:before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: inline-block;
  width: 0.05rem;
  height: 0.25rem;
  background: #000;
}

.main-wrapper .purchase-box .purchasing .title:before {
  top: 0;
  background: #00aeef;
}

.main-wrapper .purchase-box .purchasing .title .name {
  font-size: 12px;
}

.main-wrapper .purchase-box .purchasing .title .en {
  font-size: 9px;
  color: #cdcdcd;
}

.main-wrapper .purchase-box .purchasing .total-box {
  padding: 0 0.2rem;
  height: 0.8rem;
  margin-bottom: 0.1rem;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

.main-wrapper .purchase-box .purchasing .total-box .total-price {
  font-size: 20px;
  color: #e4393c;
  line-height: 0.8rem;
}

.main-wrapper .purchase-box .purchasing .total-box .total-price .zong {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  color: #2b2b2b;
}

.main-wrapper .purchase-box .purchasing .total-box .total-price i {
  font-style: normal;
  font-size: 16px;
}

.main-wrapper .purchase-box .purchasing .total-box .num-eval {
  float: right;
  padding-left: 0.2rem;
  text-align: center;
  border-left: 1px solid #ccc;
  line-height: 15px;
  font-size: 12px;
}

.main-wrapper .purchase-box .purchasing .total-box .num-eval .eval-total {
  color: #00aeef;
}

.main-wrapper .purchase-box .purchasing .sale {
  font-size: 9px;
  margin-bottom: 0.2rem;
}

.main-wrapper .purchase-box .purchasing .sale a {
  color: #00aeef;
}

.main-wrapper .purchase-box .purchasing .requirements {
  margin-bottom: 0.26rem;
  font-size: 9px;
}

.main-wrapper .purchase-box .purchasing .serviceFree {
  margin-bottom: 0.26rem;
}

.main-wrapper .purchase-box .purchasing .serviceFree .con {
  display: inline-block;
  font-size: 9px;
  width: 2.6rem;
  height: 0.36rem;
  line-height: 0.42rem;
  text-align: center;
  margin-left: 12px;
  -webkit-border-radius: 0.04rem;
  -moz-border-radius: 0.04rem;
  border-radius: 0.04rem;
  background: #e5e5e5;
  color: #2b2b2b;
}

.main-wrapper .purchase-box .purchasing .level-box .level-list {
  margin-left: 12px;
  margin-bottom: 0.6rem;
  display: inline-block;
}

.main-wrapper .purchase-box .purchasing .level-box .level-list .item {
  display: inline-block;
  width: 1rem;
  text-align: center;
  border: 1px solid #ccc;
  line-height: 0.5rem;
  margin-right: 0.3rem;
  color: #2b2b2b;
  -webkit-border-radius: 0.04rem;
  -moz-border-radius: 0.04rem;
  border-radius: 0.04rem;
}

.main-wrapper .purchase-box .purchasing .level-box .level-list .item.active {
  color: #fff;
  background: #00aeef;
  border-color: #00aeef;
}

.main-wrapper .purchase-box .purchasing .btn-box {
  margin-bottom: 0.14rem;
}

.main-wrapper .purchase-box .purchasing .btn-box button {
  width: 2.6rem;
  line-height: 0.7rem;
  font-size: 14px;
  margin-right: 0.4rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #00aeef;
}

.main-wrapper .purchase-box .purchasing .btn-box button.submit-buy {
  background: #dd3239;
}

.main-wrapper .purchase-box .purchasing .pay-img {
  font-size: 9px;
}

.main-wrapper .purchase-box .purchasing .pay-img span {
  margin-right: 0.5rem;
}

.main-wrapper .purchase-box .purchasing .pay-img img {
  vertical-align: middle;
  margin-right: 6px;
  width: 0.3rem;
}

.main-wrapper .documents-box {
  position: relative;
}

.main-wrapper .documents-box .tab {
  height: 0.7rem;
  background: #f4f4f4;
}

.main-wrapper .documents-box .tab li {
  display: inline-block;
  width: 2.2rem;
  line-height: 0.7rem;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.main-wrapper .documents-box .tab li.active {
  background: #00aeef;
  color: #fff;
}

.main-wrapper .documents-box .contactHer {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 120px;
  line-height: 34px;
  color: #fff;
  background: #00aeef;
  text-align: center;
  cursor: pointer;
}

.main-wrapper .documents-box .contactHer img {
  vertical-align: middle;
  margin-right: 5px;
}

.main-wrapper .details-wrapper {
  padding: 0.5rem 0;
}

.main-wrapper .details-wrapper > li {
  display: none;
}

.main-wrapper .details-wrapper > li:hover, .main-wrapper .details-wrapper > li.active {
  display: block;
}

.main-wrapper .details-box {
  font-size: 10px;
  line-height: 1.8;
}

.main-wrapper .details-box > div {
  margin-bottom: 0.42rem;
}

.main-wrapper .details-box > div.one {
  margin-bottom: 0.2rem;
}

.main-wrapper .details-box > div.img {
  width: 7.5rem;
  margin-left: -0.2rem;
}

.main-wrapper .details-box > div > span {
  display: inline-block;
  width: 1.2rem;
  vertical-align: top;
  text-align: right;
}

.main-wrapper .details-box > div > p {
  width: 5.8rem;
  display: inline-block;
}

.main-wrapper .details-box > div i {
  font-style: normal;
  display: inline-block;
  vertical-align: top;
  width: 2.34rem;
}

.main-wrapper .user-eval .eval-list .item {
  position: relative;
  padding-left: 0.7rem;
  margin-bottom: 0.5rem;
  font-size: 11px;
}

.main-wrapper .user-eval .eval-list .item .user-avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 0.5rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}

.main-wrapper .user-eval .eval-list .item .user-avatar img {
  width: 100%;
  height: 100%;
}

.main-wrapper .user-eval .eval-list .item .user-name {
  display: inline-block;
  margin-right: 20px;
  font-size: 9px;
}
